* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  box-sizing: border-box;
  transition: all 0.5 ease-in-out;
}

html,
body {
  font-family: "Roboto Condensed", "Domine", sans-serif;
  color: #62646a;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  overflow: hidden;
}

ul {
  list-style-type: none !important;
}

ul li {
  display: inline-block;
}

header {
  position: absolute;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0px;
  width: 100%;
  height: 80px;
  color: #fff;
  font-size: 16px;
  font-weight: fw-bold-0;
}

header .navbar-wrapper .row {
  justify-content: space-between;
  align-items: center;
  line-height: 80px;
}

header .navbar-wrapper .row .navbar__menu {
  flex-grow: 1;
  max-width: 700px;
}

header .navbar-wrapper .row .navbar__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .navbar-wrapper .row .navbar__menu ul .header-join {
  padding: 7px 20px;
  line-height: 14px;
  border-radius: 3px;
}

header .navbar-wrapper .row .navbar__menu ul .join-in {
  border: #fff solid 1px;
}

header .navbar-wrapper .row .navbar__menu ul .join-in:hover {
  background-color: #19a463;
}

header .navbar-wrapper .row .navbar__menu ul .join-out {
  border: #3fca89 solid 1px;
  color: #3fca89;
}

header .navbar-wrapper .row .navbar__menu ul .join-out:hover {
  background-color: #19a463;
  color: #fff;
}

header .navbar__categories {
  display: block;
  height: 40px;
  text-align: center;
  align-items: center;
  align-self: center;
  border-top: solid 2px #777777;
}

header .navbar__categories ul {
  display: flex;
  justify-content: space-evenly;
  color: #777777 !important;
}

header .navbar__categories ul li {
  line-height: 40px;
}

header .sub-navbar {
  background-color: white;
  width: 100%;
  color: black !important;
}

header i {
  padding-right: 5px;
}

ul {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  header .container {
    min-width: 90%;
  }
}

.carousel {
  position: relative;
  color: #fff;
}

.carousel .carousel-content {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 1;
}

.carousel .carousel-content h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500px;
  line-height: 56px;
}

.carousel .carousel-content .popular {
  display: inline-block;
  margin-top: 20px;
}

.carousel .carousel-content .popular a {
  border: 1px white solid;
  margin: 4px 2px;
  border-radius: 16px;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.carousel .carousel-content .search-bar {
  height: 50px;
  line-height: 50px;
}

.carousel .carousel-content .search-bar form {
  display: inline-block;
  width: 85%;
  padding-right: 0;
  margin-right: 0;
}

.carousel .carousel-content .search-bar form input {
  width: 200px;
}

.carousel .carousel-content .search-bar button {
  margin-left: 0;
}

.carousel img {
  height: 700px;
  object-fit: cover;
  object-position: center center;
}

@media screen and (min-width: 1200px) {
  .carousel .carousel-content {
    max-width: 650px;
  }
}

.partner {
  margin-bottom: 96px;
}

.partner .partner-wrapper {
  height: 95px;
  line-height: 95px;
  padding: 20px 0;
}

.partner .partner-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.partner .partner-wrapper ul li {
  color: #b5b6ba;
  font-size: 22px;
  font-weight: 600;
}

.partner .partner-wrapper ul li:nth-child(1) {
  padding-right: 20px;
}

.service {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.service small {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.service .service-tab-member {
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 345px;
  width: 100%;
  position: relative;
}

.service .service-tab-member h4 {
  z-index: 1;
  color: #fff;
  padding: 16px;
}

.service .service-tab-member .service-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.service a.col-3:hover .service-overlay {
  background-color: rgba(255, 255, 255, 0.3);
}

.mfp-content {
  text-align: center;
}

.selling {
  background-color: #f1fdf7;
  padding-top: 96px;
}

.selling .selling-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 32px 64px;
}

.selling .selling-wrapper .selling-text {
  padding-right: 10%;
}

.selling .selling-wrapper .selling-text h2 {
  padding-bottom: 18px;
  line-height: 110%;
  color: #404145;
  font-size: 32px;
  font-weight: 700;
}

.selling .selling-wrapper .selling-text ul li {
  padding-bottom: 15px;
}

.selling .selling-wrapper .selling-text ul li h6 {
  display: flex;
  align-items: flex-start;
  padding-bottom: 8px;
  color: #404145;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}

.selling .selling-wrapper .selling-text ul li p {
  color: #62646a;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.video-modal #sellingVid {
  display: none;
}

.video-modal a:hover #sellingVid {
  display: flex !important;
}

.bussiness {
  background-color: #0d084d;
  padding: 80px;
  margin-bottom: 96px;
}

.bussiness .bussiness-wrapper {
  max-width: 95%;
  margin: 0 auto;
  padding: 32px 32px 64px;
}

.business-text {
  padding-right: 7%;
  color: #fff;
}

.business-text .business-new {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border: solid 1px 584aff;
  background-color: #584aff;
  padding: 3px 7px 2px;
  border-radius: 999px;
  text-align: center;
}

.business-text small {
  display: block;
  padding-bottom: 32px;
}

.business-text h2 {
  padding-bottom: 24px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.business-text .bussiness-info {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.business-text ul {
  padding-bottom: 20px;
}

.business-text ul li {
  padding-bottom: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.business-text ul li .fit-icon svg {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  max-width: 24px;
}

.business-text a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 100%;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

.testimonial {
  margin-bottom: 96px;
}

.testimonial .testimonial-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 32px 32px 64px;
}

.testimonial .text-content {
  padding: 0 48px 0 64px;
  max-width: 840px;
  width: 100%;
}

.testimonial .text-content h5 {
  padding-bottom: 16px;
  line-height: 140%;
  color: #7a7d85;
  font-size: 22px;
  font-weight: 400;
}

.testimonial .text-content h5 .testimonial-logo img {
  display: inline-block;
  height: 40px;
  margin-left: 12px;
  width: 200px;
}

.testimonial .text-content blockquote {
  font-family: "Domine", serif;
  font-size: 32px;
  line-height: 44px;
  color: #003912;
}

.madeBy {
  background-color: #f5f5f5;
  margin-bottom: 96px;
}

.madeBy .madeBy-wrapper {
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: 95%;
  margin: 0 auto;
}

.madeBy h2 {
  padding-bottom: 30px;
  font-weight: bold;
}

.madeBy .madeBy-seeMore {
  position: absolute;
  right: 100px;
  padding-top: 16px;
  color: blue;
  font-size: 18px;
  font-weight: 400;
}

.madeBy .madeBy-tab {
  padding: 32px -5px 64px;
}

.madeBy .madeBy-tab .seller-image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.madeBy .madeBy-tab .madeBy-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03231), 0 0.37px 4.42626px rgba(0, 0, 0, 0.04769), 0 3px 7px rgba(0, 0, 0, 0.09);
}

.madeBy .madeBy-tab .madeBy-info {
  display: flex;
  padding: 16px 0 12px 16px;
}

.madeBy .madeBy-tab .gig-info {
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding-left: 12px;
}

.madeBy .madeBy-tab .gig-image {
  height: 237px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  transition: opacity 0.3s ease-in-out;
  display: block;
  position: relative;
}

.madeBy .madeBy-tab .gig-image:hover {
  opacity: 0.8;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  left: -2%;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  z-index: 10;
}

.owl-prev span,
.owl-next span {
  color: #222325;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.6;
}

.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.owl-next {
  left: unset;
  right: -2%;
}

.video-modal {
  position: relative;
}

.video-modal::after {
  content: "";
  display: inline-block;
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png) no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */