.categories{
    margin-bottom: 40px;
    .categories__content{
        width: 90%;
        margin: 0 auto;
        h2{
            @include styleText($color-gray-4,$fs-5,$fw-bold-1);
            padding-bottom: 24px;
            margin-bottom: 40px;
        }
        .categories__detail{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            .categories__item{
                text-align: center;
                padding: 0 10px 55px 10px;
                a{
                    text-decoration: none;
                    color: $color-black-0;
                    display: inline-block;
                    transition: all 0.5s;
                    img{
                        width: 48px;
                    }
                    .animation{
                        content: '';
                        width: 48px;
                        height: 2px;
                        background-color: #c5c6c9;
                        margin: 8px auto $mg-0 auto;
                        transition: all 0.5s;
                    }
                    &:hover{
                        .animation{
                            background-color: $color-green;
                            width: 88px;
                        }
                    }
                }
            }
        }
    }
}