.partner {
    margin-bottom: 96px;
    .partner-wrapper {
        height: 95px;
        line-height: 95px;
        padding: 20px 0;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            li {
                @include styleText($color-gray-6, $fs-4, $fw-bold-0);
            }
            li:nth-child(1) {
                padding-right: 20px;
            }
        }
    }
}
