.service {
    width: 95%;
    margin: 0 auto;
    small {
        display: block;
        @include styleText($color-white-0, $fs-0, $fw-normal);
    }
    .service-tab-member {
        background-position: center center;
        background-repeat: none;
        background-size: cover;
        height: 345px;
        width: 100%;
        position: relative;

        h4 {
            z-index: 1;
            color: #fff;
            padding: 16px;
        }
        .service-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: 100%;
            background-color: rgba($color: white, $alpha: 0);
            overflow: hidden;
        }
    }
    a.col-3 {
        &:hover .service-overlay {
            background-color: rgba($color: white, $alpha: 0.3);
        }
    }
    margin-bottom: 80px;
}
